*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav{
  padding: 20px;
  background-color: cornflowerblue;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.container{
  background-color: rgb(154, 208, 255);
  border-radius: 30px;
  width: 70%;
  margin: auto;
  margin-top:20px;
  min-height: 80vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container > form{
display: flex;
flex-direction: column;
}

.container > h1{
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}
input,textarea,button{
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.214);
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 1.2rem;
}

button{
  border:none ;
  cursor: pointer;
  background-color: rgb(37, 37, 37);
  color: white;

}

.task{
  /* border: 1px solid rgba(0,0,0,0.214); */
  display: flex;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  /* margin: 20px 0px; */
  margin: 20px ;
  align-items: center;
}

.task > div{
  width: 100%;

}

.task span{
  color: rgba(0,0,0,0.673);
}

.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: red;
}